<mat-card class="card">Simple card</mat-card>
    
<mat-accordion class="expansion">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Personal data
      </mat-panel-title>
      <mat-panel-description>
        Type your name and age
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input matInput placeholder="First name">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Age">
    </mat-form-field>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Table
      </mat-panel-title>
      <mat-panel-description>
        Table is {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-table></app-table>
  </mat-expansion-panel>
  
  <mat-expansion-panel (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Table
      </mat-panel-title>
      <mat-panel-description>
        Table is {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-table></app-table>
  </mat-expansion-panel>
  
  
  <mat-expansion-panel (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Table
      </mat-panel-title>
      <mat-panel-description>
        Table is {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-table></app-table>
  </mat-expansion-panel>
  
  
  <mat-expansion-panel (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Table
      </mat-panel-title>
      <mat-panel-description>
        Table is {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-table></app-table>
  </mat-expansion-panel>
  
  
  <mat-expansion-panel (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Table
      </mat-panel-title>
      <mat-panel-description>
        Table is {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-table></app-table>
  </mat-expansion-panel>
  
  
  <mat-expansion-panel (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Table
      </mat-panel-title>
      <mat-panel-description>
        Table is {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-table></app-table>
  </mat-expansion-panel>
  
  
  <mat-expansion-panel (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Table
      </mat-panel-title>
      <mat-panel-description>
        Table is {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-table></app-table>
  </mat-expansion-panel>
  
  
  <mat-expansion-panel (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Table
      </mat-panel-title>
      <mat-panel-description>
        Table is {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-table></app-table>
  </mat-expansion-panel>
  
  
  <mat-expansion-panel (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Table
      </mat-panel-title>
      <mat-panel-description>
        Table is {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-table></app-table>
  </mat-expansion-panel>
  
  
  <mat-expansion-panel (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Table
      </mat-panel-title>
      <mat-panel-description>
        Table is {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-table></app-table>
  </mat-expansion-panel>
  
  
  <mat-expansion-panel (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Table
      </mat-panel-title>
      <mat-panel-description>
        Table is {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-table></app-table>
  </mat-expansion-panel>
  
  
  <mat-expansion-panel (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Table
      </mat-panel-title>
      <mat-panel-description>
        Table is {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-table></app-table>
  </mat-expansion-panel>
  
  <mat-expansion-panel (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Table
      </mat-panel-title>
      <mat-panel-description>
        Table is {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-table></app-table>
  </mat-expansion-panel>
  
  <mat-expansion-panel (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Table
      </mat-panel-title>
      <mat-panel-description>
        Table is {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-table></app-table>
  </mat-expansion-panel>
  
  <mat-expansion-panel (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Table
      </mat-panel-title>
      <mat-panel-description>
        Table is {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-table></app-table>
  </mat-expansion-panel>
  
  <mat-expansion-panel (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Table
      </mat-panel-title>
      <mat-panel-description>
        Table is {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-table></app-table>
  </mat-expansion-panel>
  
  <mat-expansion-panel (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Table
      </mat-panel-title>
      <mat-panel-description>
        Table is {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-table></app-table>
  </mat-expansion-panel>
  
  <mat-expansion-panel (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Table
      </mat-panel-title>
      <mat-panel-description>
        Table is {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-table></app-table>
  </mat-expansion-panel>
  
  <mat-expansion-panel (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Table
      </mat-panel-title>
      <mat-panel-description>
        Table is {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-table></app-table>
  </mat-expansion-panel>
  
  <mat-expansion-panel (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Table
      </mat-panel-title>
      <mat-panel-description>
        Table is {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-table></app-table>
  </mat-expansion-panel>
  
  <mat-expansion-panel (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Table
      </mat-panel-title>
      <mat-panel-description>
        Table is {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-table></app-table>
  </mat-expansion-panel>
  
</mat-accordion>